:root {
  --font-kr: "Gowun Dodum", "Noto Sans KR", "Apple SD Gothic Neo", "Segoe UI",
    Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-kr);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(../images/background.png) no-repeat center center/cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.todo-app {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #fff;
  border-radius: 20px;

  border: 3px solid rgba(255, 255, 255, 0.48);

  backdrop-filter: blur(5px);
}

.input-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input-area input {
  flex: 1;
  padding: 10px 17px;
  font-size: 1.1rem;
  border: none;
  outline: none;
  border-radius: 22px;
  background: rgba(255, 194, 209, 0.3);
  color: #dbdbdb;
}

.input-area input::placeholder {
  color: #bcbcbc;
}
.input-area button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  margin-left: 10px;
  padding: 8px;
  border-radius: 50%;
  color: #fff;
  font-size: 1.1rem;
  background: lightcoral;
}
.input-area button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.todos-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
#task-list {
  width: 100%;
}

.empty-image {
  width: 100px;
  height: 100px;
}

#task-list li {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 194, 209, 0.3);
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 30px;
  font-size: 1.2rem;
  position: relatvie;
  transition: box-shadow 0.2s ease;
  color: #fff;
}

#task-list li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#task-list li .checkbox {
  min-width: 20px;
  height: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  appearance: none;
}

#task-list li .checkbox:checked {
  background: coral;
  transform: scale(1.1);
}

#task-list li .checkbox:checked ::before {
  content: "\2713";
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

#task-list li span {
  flex: 1;
  margin-left: 10px;
  word-wrap: break-word;
}

.task-buttons {
  display: flex;
  gap: 10px;
  margin-right: auto;
}

.task-buttons button {
  background: rgba(255, 194, 209, 0.3);
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease;
  justify-content: center;
  align-items: center;
}

.task-buttons button:hover {
  transform: scale(1.2);
}

.task-buttons .edit-btn {
  background: coral;
}

.task-buttons .delete-btn {
  background: red;
}
